# https://qiita.com/Hi-king/items/a8485557095692f1bf13
## .gitignore ##
# ignore all
*
!*/

common/.config/google-chrome

# allow any
!installer.sh
!setup.sh

!common/programming.sh

# git
!common/git/.gitconfig
!common/git/.gitignore_global

# jetbrains
!common/jetbrains/*/settings.jar

# vim / neovim
!common/.config/nvim/**

# xonsh
!common/.config/xonsh/commands/__init__.py
!common/.config/xonsh/commands/*.xsh
!common/.config/xonsh/lib/__init__.py
!common/.config/xonsh/lib/*.xsh
!common/.config/xonsh/rc.xsh

# fish
!common/.config/fish/completions/*.fish
!common/.config/fish/functions/*.fish
!common/.config/fishfile

# bash
!mac/.bash_profile
!mac/.bashrc

!Makefile
!README.md
