# https://qiita.com/Hi-king/items/a8485557095692f1bf13
## .gitignore ##
# ignore all
*
!*/

# chezmoi
!.chezmoi.yaml
!.chezmoiignore
!dot_*
!dot_*/**
!run_once_**
!run_onchange_**

# vscode
!.vscode/settings.json

# github
!.github/**

# aqua
!.aqua/**

!README.md
