#!/usr/bin/env bash
set -euo pipefail

{{ if eq .chezmoi.os "darwin" }}

echo "Installing confirm-pam..."
cargo install confirm-pam

echo "Installing similarity-ts..."
cargo install similarity-ts

{{ end }}
