#!/usr/bin/env bash
set -euo pipefail

{{ if eq .chezmoi.os "darwin" }}

defaults write NSGlobalDomain AppleShowAllExtensions -bool true
defaults write com.apple.finder ShowPathbar -bool true
defaults write com.apple.finder ShowStatusBar -bool true

# 空文字にすると、ローカライズされた既定の接頭辞（日本語環境では「スクリーンショット」）が付かなくなる
defaults write com.apple.screencapture name ""

{{ end }}
