[user]
	name = Kenta Kuroda
	email = tk.777.k@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	ignorecase = false
	quotepath = false
[ghq]
	root = ~/workspace
[alias]
	co = checkout
	cm = commit
	refresh= !git fetch origin && git remote prune origin
[status]
	showUntrackedFiles = all
[push]
	default = current
[fetch]
	prune = true
[pull]
	rebase = true
[rebase]
	updateRefs = true
[rerere]
	enabled = true
[absorb]
	maxStack=50
