name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Setup Test
    runs-on: macos-latest
    timeout-minutes: 15
    env:
      CI: "true"
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install chezmoi
        run: brew install chezmoi
      - name: Initialize chezmoi
        run: chezmoi init --apply -S .
        shell: zsh {0}
