name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Setup Test
    runs-on: macos-latest
    timeout-minutes: 15
    env:
      CI: "true"
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install chezmoi
        run: brew install chezmoi
      - name: Initialize chezmoi
        run: chezmoi init --apply -S .
        shell: zsh {0}
