name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Setup Test
    runs-on: macos-latest
    timeout-minutes: 15
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Install chezmoi
        run: brew install chezmoi
      - name: Initialize chezmoi
        run: chezmoi init --apply -S .
